.svg-about {
	position: absolute;
	width: 0px;
	height: 0px;
}

.about__block {
	position: relative;
}

.about__block:after,
.about__block:before {
	position: absolute;
	z-index: 1;
	left: -1px;
	right: -1px;
	content: ' ';
	width: -webkit-calc(100% + 2px);
	width: calc(100% + 2px);
	height: 350px;
}

.about__block:after {
	top: -1px;
	background-image: url(../img/about-top.svg);
	-webkit-background-size: 100% 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
}

.about__block:before {
	bottom: -1px;
	background-image: url(../img/about-bottom.svg);
	-webkit-background-size: 100% 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.about__wrap {
	position: relative;
	padding: 25em 0;
	padding-top: 17em;
}

.about__wrap:after {
	position: absolute;
	z-index: -1;
	content: ' ';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../img/about-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.1;
}

.about__inner {
	position: relative;
	z-index: 3;
}

.about__item--content {
	position: absolute;
	top: 0px;
	right: -5%;
	width: 630px;
}

.about__item--data {
	width: 490px;
	margin-right: 25px;
}

.about__title {
	font-size: 60px;
	line-height: 1;
	color: #10adf4;
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 70px;
}

.about__text p {
	font-size: 16px;
	line-height: 1.9;
	color: #333333;
	padding-bottom: 35px;
}

.about__wrap-bg {
	-webkit-filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
}

.about__bg {
	-webkit-clip-path: url(#my-clip-path);
	clip-path: url(#my-clip-path);
	background-color: #10adf4;
	-webkit-background-size: cover;
	background-size: cover;
	max-width: 635px;
	width: 100%;
	height: 700px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-right: 70px;
	padding-top: 175px;
}

.about__image {
	margin-right: 55px;
	margin-bottom: 25px;
}

.about__desc {
	font-size: 36px;
	line-height: 1.3;
	color: #ffff;
	text-transform: uppercase;
	font-weight: 900;
}

@media screen and (max-width: 1430px) {

.about__item--content {
	right: 0px;
}

}

@media screen and (max-width: 1199px) {

.about__title {
	font-size: 48px;
}

}

@media screen and (max-width: 1150px) {

.about__item--content {
	position: static;
	width: 100%;
	margin: 0px;
}

.about__item--data {
	width: 100%;
	margin-right: 0px;
}

}

@media screen and (max-width: 1050px) {

.about__title {
	font-size: 42px;
}

}

@media screen and (max-width: 780px) {

.about__title {
	font-size: 36px;
}

.about__bg {
	max-width: 400px;
	height: auto;
	padding: 130px 0;
	padding-right: 20px;
}

.about__image {
	margin-right: 20px;
	max-width: 50px;
	margin-bottom: 18px;
}

.about__desc {
	font-size: 21px;
	padding-bottom: 12px;
}

}

