.request {
	margin-top: 205px;
}

.request + footer {
	margin-top: -130px;
}

.request__inner {
	position: relative;
	top: -255px;
}

.request .video__wrap {
	padding: 0px;
}

.request .video__wrap:after {
	height: 430px;
}

.request .video__wrap:before {
	height: 645px;
}

.request__holder {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 10px;
	padding-bottom: 100px;
}

.request__holder .request__box:first-child {
	padding-right: 50px;
	border-right: 1px solid #75af26;
}

.request__holder .request__box:last-child {
	padding-left: 50px;
}

.request__box {
	padding: 22px 0;
	margin-bottom: 30px;
}

.request__box p {
	font-size: 16px;
	line-height: 1.9;
	color: #333333;
}

.request__block {
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	border-top: 2px solid #75af26;
	padding: 0 65px;
	padding-top: 45px;
	padding-bottom: 60px;
}

.request__title {
	font-size: 36px;
	line-height: 1;
	color: #75af26;
	text-transform: uppercase;
	font-weight: normal;
	padding-bottom: 36px;
}

.request .info__wrap {
	margin: 0 -40px;
}

.request .info__item {
	width: -webkit-calc(100% / 2 - 80px);
	width: calc(100% / 2 - 80px);
	margin: 0 40px;
	margin-bottom: 50px;
}

.request__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -40px;
}

.request__item {
	width: -webkit-calc(100% / 2 - 80px);
	width: calc(100% / 2 - 80px);
	margin: 0 40px;
	margin-bottom: 25px;
}

.request__item label {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1.7;
	color: #333333;
	text-transform: uppercase;
	padding-left: 20px;
	padding-bottom: 8px;
}

.request__item input {
	display: block;
	width: 100%;
	padding: 10px 20px;
	border: 2px solid #75af26;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.request__content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -40px;
	padding-bottom: 70px;
}

.request__boxex {
	width: -webkit-calc(100% / 2 - 80px);
	width: calc(100% / 2 - 80px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 40px;
	margin-top: 24px;
	margin-bottom: 25px;
}

.request__boxex label {
	cursor: pointer;
	position: relative;
	font-size: 14px;
	line-height: 1.2;
	color: #203260;
	padding: 8px 0;
	padding-left: 60px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.request__boxex label:before {
	content: '';
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 35px;
	height: 35px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #75af26;
}

.request__boxex label:after {
	content: '';
	position: absolute;
	font-size: 12px;
	border-color: #75af26;
	border-style: solid;
	border-width: 0 0.25em 0.25em 0;
	height: 1.2em;
	top: 50%;
	left: 12px;
	-webkit-transform: rotate(45deg) translate(-50%, -50%);
	-ms-transform: rotate(45deg) translate(-50%, -50%);
	transform: rotate(45deg) translate(-50%, -50%);
	width: 0.8em;
	opacity: 0;
}

.request__boxex label a {
	color: #75af26;
	font-weight: bold;
	-webkit-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}

.request__boxex label a:hover {
	color: #3c5914;
}

.request__boxex input {
	display: none;
}

.request__boxex input:checked + label:after {
	opacity: 1;
}

.request__btn[disabled] {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.request__btn {
	font: inherit;
	display: block;
	width: 100%;
	max-width: 300px;
	background-color: #75af26;
	font-size: 18px;
	line-height: 1.3;
	color: #ffffff;
	border: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	padding: 10px;
	text-transform: uppercase;
	margin: 0 auto;
	-webkit-transition: 0.3s background-color;
	-o-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.request__btn:not(:disabled) {
	cursor: pointer;
}

.request__btn:not(:disabled):hover {
	background-color: #3c5914;
}

.request__error {
	text-transform: uppercase;
	font-weight: bold;
	color: #8B0000;
	padding: 0 32px;
	padding-left: 20px;
	padding-bottom: 12px;
}

.request .jq-selectbox {
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #75af26;
}

.request .jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top: 5px solid #666666;
}

.request .jq-selectbox__select {
	font-family: Roboto-Regular;
	background: transparent;
	width: 100%;
	height: auto;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	color: #000000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-right: 35px;
	padding-left: 20px;
	text-transform: uppercase;
}

.request .jq-selectbox__select:hover {
	background: #fff;
}

.request .jq-selectbox__select-text {
	font-family: Montserrat;
	font-size: 14px;
	padding: 3px 0;
	padding-bottom: 4px;
	text-align: left;
	color: #333333;
	width: 100% !important;
	height: auto;
}

.request .jq-selectbox.focused .jq-selectbox__select {
	border: 0;
}

.request .jq-selectbox__trigger {
	border: 0;
	background-color: transparent;
}

.request .jq-selectbox__trigger:hover .jq-selectbox__trigger-arrow {
	border-top: 5px solid #fff;
}

.request .jq-selectbox__trigger::after {
	position: absolute;
	content: ' ';
	top: 12px;
	right: 16px;
	width: 10px;
	height: 10px;
	border-left: 2px solid #bfbfbf;
	border-top: 2px solid #bfbfbf;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
	-webkit-transition: 0.3s border, 0.3s top;
	-o-transition: 0.3s border, 0.3s top;
	transition: 0.3s border, 0.3s top;
}

.request .jq-selectbox__trigger-arrow {
	border: none;
	top: 25px;
}

.request .jq-selectbox__dropdown {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #75af26;
	overflow: hidden;
	max-width: 100%;
	margin-top: 3px;
}

.request .jq-selectbox__dropdown ul {
	max-height: 250px;
	overflow: auto;
}

.request .jq-selectbox li {
	position: relative;
	font-family: Montserrat;
	font-size: 14px;
	padding: 8px 10px 8px 20px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	text-transform: uppercase;
}

.request .jq-selectbox li:hover {
	background-color: #3c5914;
	color: #fff;
}

.request .jq-selectbox li.sel {
	background-color: #75af26;
	color: #fff;
}

@media screen and (max-width: 1050px) {

.request__block {
	padding: 0 40px;
	padding-top: 40px;
	padding-bottom: 45px;
}

}

@media screen and (max-width: 960px) {

.request__block {
	padding: 0 20px;
	padding-top: 40px;
	padding-bottom: 45px;
}

}

@media screen and (max-width: 780px) {

.request__holder {
	display: block;
	padding-bottom: 30px;
}

.request__holder .request__box:first-child {
	padding-right: 0px;
	border: none;
}

.request__holder .request__box:last-child {
	padding-left: 0px;
}

.request__box {
	padding: 11px 0;
	margin-bottom: 25px;
}

.request__title {
	font-size: 28px;
}

.request .info__wrap {
	margin: 0px;
}

.request .info__item {
	width: 100%;
	margin: 0px;
	margin-bottom: 35px;
}

.request__wrap {
	margin: 0px;
	display: block;
}

.request__item {
	width: 100%;
	margin: 0px;
	margin-bottom: 25px;
}

.request__boxex {
	width: 100%;
}

.request__boxex label {
	font-size: 12px;
}

}

